@model IEnumerable<Student_Evaluation_3.Models.Evaluation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.why_course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hours_week)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.life_connection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clear_goals)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.helpful_assignments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.reading_helpful)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.relevant_materials)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.challenged_learn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clear_syllabus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.instructor_prepared)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.instructor_knowledgeable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.effective_teaching)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.timely_manner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.suggested_improvement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.grading_fair)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.enthusiastic_teaching)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.concern_understanding)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.instructor_interaction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.different_views)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.student_improved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.successful_in)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.good_because)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.improved_by)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.good_job)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.teaching_improved)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.why_course)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hours_week)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.life_connection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.grade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clear_goals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.helpful_assignments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reading_helpful)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.relevant_materials)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.challenged_learn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clear_syllabus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.instructor_prepared)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.instructor_knowledgeable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.effective_teaching)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.timely_manner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.suggested_improvement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.grading_fair)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.enthusiastic_teaching)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.concern_understanding)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.instructor_interaction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.different_views)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.student_improved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.successful_in)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.good_because)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.improved_by)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.good_job)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.teaching_improved)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
