
@{
    ViewData["Title"] = "Toolbar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink("CreateStudent", "CreateStudent")
@Html.ActionLink("CreateInstructor", "CreateInstructor")
@Html.ActionLink("AssignFaculty", "AssignFaculty")
@Html.ActionLink("EnrollStudent", "EnrollStudent")
@Html.ActionLink("AssignGroupToCourse", "AssignGroupToCourse")

<h2>Toolbar</h2>

